<div class="dayForecast">
	<h3 class="Day">Today, {{this.dt}}</h3>
	<p>Temperature: {{this.main.temp}}</p>
	<p>Conditions: {{this.weather.0.description}}</p>
	<p>Humidity: {{this.main.humidity}}</p>
	<p>Wind Speed: {{this.wind.speed}}</p>
</div>
<button class="saveFore">Save Forecast</button>
