<h1 class="savedTitle">Saved Forecasts</h1>
{{#each data}}

<h2 class="savedDate">Date Saved: {{list.0.dt}}</h2>
<h3 class="savedDate">{{this.city.name}}</h3>

<div class="row">
	{{#each list}}
	<div class="dayForecast">
		<h3 class="Day">{{this.dt}}</h3>	
		<p>Temperature: {{this.temp.day}}</p>
		<p>Conditions: {{this.weather.0.description}}</p>
		<p>Humidity: {{this.humidity}}</p>
		<p>Wind Speed: {{this.speed}}</p>
	</div>	
	{{/each}}
</div>
{{/each}}